---
import Image from "astro/components/Image.astro";
import Client1 from "../assets/img/clients/constructora-colpatria.png";
import Client2 from "../assets/img/clients/logo-ismocol.png";
import Client3 from "../assets/img/clients/erazo_valencia.png";
import Client4 from "../assets/img/clients/transportes_montejo.png";
import Client5 from "../assets/img/clients/ocensa.svg";
import Client6 from "../assets/img/clients/inemec.svg";
import Client7 from "../assets/img/clients/weatherford.png";
import c1 from "../assets/img/certificados/ccs.png";
import c2 from "../assets/img/certificados/certi1.svg";
import c3 from "../assets/img/certificados/certi2.svg";
import c4 from "../assets/img/certificados/certi3.svg";
import ola2 from "../assets/img/img-section-2/ola2.svg";
---

<section class="section">
    <!-- <Image src={ola2} alt="Cliente 1" width={200} style="width: 100%; height: auto;"></Image> -->
    <div class="container">
        <div class="clients">
            <h2>Clientes Nacionales</h2>
            <ul>
                <li>
                    <Image src={Client1} alt="Cliente 1" width={200} />
                </li>
                <li>
                    <Image src={Client2} alt="Cliente 1" width={200} />
                </li>
                <li>
                    <Image src={Client3} alt="Cliente 1" width={200} />
                </li>
                <li>
                    <Image src={Client4} alt="Cliente 1" width={100} />
                </li>
                <li>
                    <Image src={Client5} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client6} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client7} alt="Cliente 1" width={200} />
                </li>
                <!-- <li style="background-color: #FFFFFF;">
                <Image src={c1} alt="Cliente 1" width={200}></Image>
            </li>
            <li style="background-color: #FFFFFF;">
                <Image src={c2} alt="Cliente 1" width={200}></Image>
            </li>
            <li style="background-color: #FFFFFF;">
                <Image src={c3} alt="Cliente 1" width={200}></Image>
            </li>
            <li style="background-color: #FFFFFF;">
                <Image src={c4} alt="Cliente 1" width={200}></Image>
            </li> -->
            </ul>
        </div>

        <div class="certifications">
            <h2>Nuestras certificaciones</h2>
            <ul>
                <li>
                    <Image src={c1} alt="Cliente 1" width={200} />
                </li>
                <li>
                    <Image src={c2} alt="Cliente 1" width={200} />
                </li>
                <li>
                    <Image src={c3} alt="Cliente 1" width={200} />
                </li>
                <li>
                    <Image src={c4} alt="Cliente 1" width={200} />
                </li>
            </ul>
        </div>
    </div>
</section>

<style lang="scss">
    :root {
        --color-primary: #f3d421;
        --color-secundary: #e1251b;
        --color-success: #4bb347;
        --color-name-company: #0f73b9;
    }

    $padding-container: 20px 20px;

    .section {
        font-family: sans-serif;
        color: #ffffff;
        background-color: #FFFFFF;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            padding: $padding-container;

            h2 {
                color: var(--color-primary);
            }

            ul {
                list-style: none;
                display: grid;
                gap: 30px 40px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
</style>
