---
import Image from "astro/components/Image.astro";
import Client1 from "../assets/img/clients/constructora-colpatria.png";
import Client2 from "../assets/img/clients/logo-ismocol.png";
import Client3 from "../assets/img/clients/erazo_valencia.png";
import Client4 from "../assets/img/clients/transportes_montejo.png";
import Client5 from "../assets/img/clients/ocensa.svg";
import Client6 from "../assets/img/clients/inemec.svg";
import Client7 from "../assets/img/clients/weatherford.png";
import c1 from "../assets/img/certificados/ccs.png";
import c2 from "../assets/img/certificados/certi1.svg";
import c3 from "../assets/img/certificados/certi2.svg";
import c4 from "../assets/img/certificados/iso14001.svg";
import ola2 from "../assets/img/img-section-2/ola2.svg";
---

<section class="section">
    <!-- <Image src={ola2} alt="Cliente 1" width={200} style="width: 100%; height: auto;"></Image> -->
    <div class="container">
        <div class="clients">
            <h2><b>CLIENTES NACIONALES</b></h2>
            <ul>
                <li>
                    <Image src={Client1} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client2} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client3} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client4} alt="Cliente 1" width={100} />
                </li>
                <li>
                    <Image src={Client5} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client6} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={Client7} alt="Cliente 1" width={150} />
                </li>
            </ul>
        </div>

        <div class="certifications">
            <h2><b>NUESTRAS CERTIFICACIONES</b></h2>
            <ul>
                <li>
                    <Image src={c1} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={c2} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={c3} alt="Cliente 1" width={150} />
                </li>
                <li>
                    <Image src={c4} alt="Cliente 1" width={150} />
                </li>
            </ul>
        </div>
    </div>
</section>

<style lang="scss">
    :root {
        --color-primary: #f3d421;
        --color-secundary: #e1251b;
        --color-success: #4bb347;
        --color-name-company: #0f73b9;
    }

    $padding-container: 20px 20px;

    .section {
        font-family: sans-serif;
        color: #000000;
        background-color: #f3d421;
        padding-bottom: 30px;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            // padding: $padding-container;

            h2 {
                color: #0f73b9;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                margin-top: 30px;
                // padding: 30px;
                margin-bottom: 30px;
                // margin-top: 0px;
                // background-color: #000000;

            }

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: grid;
                gap: 30px 40px;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    @media (min-width: 700px) {
        .section {
            .container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
</style>
