---
import Image from "astro/components/Image.astro";
import Image1 from "../assets/img/icons-section-1/imag1.jpeg";
import Image2 from "../assets/img/icons-section-1/img11.jpeg";
import Image3 from "../assets/img/icons-section-1/img31.jpeg";
import Image4 from "../assets/img/icons-section-1/montacargas/img1.jpeg";
import Image5 from "../assets/img/icons-section-1/elevador/img1.jpeg";
---

<section id="quienes-somos" class="section">
    <div class="container">
        <div class="services">
            <div>
                <h2>¿Quiénes somos?</h2>
                <p class="parrafo">
                    Somos una empresa familiar, cuyo origen se fundamenta en la
                    experiencia de más de 40 años por parte de nuestros
                    fundadores en la industria, gracias a esto, desde el 24 de
                    marzo del 2010 préstamos nuestros servicios en transporte e
                    izajes.
                </p>
            </div>
            <div>
                <h2>¿Qué hacemos?</h2>
                <ul class="lista">
                    <li class="item">
                        <Image src={Image1} alt="Imagen 1" />
                        <span
                            >Movilización de taladros del sector hidrocarburos.</span
                        >
                    </li>

                    <li class="item">
                        <Image src={Image2} alt="Imagen 1" />
                        <span
                            >Logística de señalización vial, con aseguramiento
                            de personal de la comunidad.</span
                        >
                    </li>

                    <li class="item">
                        <Image src={Image3} alt="Imagen 1" />
                        <span
                            >Movilización de cargas en cama baja y cama alta.</span
                        >
                    </li>

                    <li class="item">
                        <Image src={Image4} alt="Imagen 1" />
                        <span
                            >Levantamiento de carga paletizada (Montacargas,
                            Cargadores).</span
                        >
                    </li>

                    <li class="item">
                        <Image src={Image5} alt="Imagen 1" />
                        <span
                            >Levantamiento en plataforma de trabajo elevadora
                            móvil (Manlift).</span
                        >
                    </li>

                    <!-- <li class="item">Alquiler de maquinaria pesada</li>
    
                    <li class="item">
                        Levantamiento de vigas (concreto), pontones de más de 60
                        toneladas.
                    </li>
    
                    <li class="item">
                        Acompañamiento vial y escolta para cargas extra
                        dimensionadas.
                    </li>
    
                    <li class="item">Servicio técnico vial.</li>
    
                    <li class="item">
                        Movimiento de carga líquida (agua para riego)
                    </li> -->
                </ul>

                <!-- <div class="btn-show">
                    <button class="show-info">Ver más</button>
                </div> -->
            </div>
        </div>

        <div class="mision-vision">
            <h2>Misión</h2>
            <p class="parrafo">
                En TIERRACOLL S.A.S., ofrecemos soluciones integrales de izaje,
                transporte primario y secundario, movimiento seguro de cargas y
                materiales, dirigidas a sectores como construcción, minería,
                industria petrolera. Nos destacamos por brindar servicios de
                calidad, seguridad y eficiencia, enfocándonos en la satisfacción
                de nuestros clientes. Nuestra gestión se fundamenta en el
                desarrollo continuo del talento humano, la mejora continua, la
                eficacia, y la rentabilidad. Actuamos con respeto a la normativa
                vigente y las relaciones con nuestros clientes, proveedores,
                empleados y comunidades, asegurando el cumplimiento de los más
                altos estándares de calidad de la industria y posicionándonos
                como un referente en el mercado colombiano.
            </p>

            <h2>VISIÓN</h2>
            <p class="parrafo">
                Para el 2030, TIERRACOLL S.A.S. será una empresa líder en el
                mercado colombiano, reconocida por su innovación, calidad y
                excelencia operativa en soluciones de izaje, transporte primario
                y secundario, movimiento seguro de cargas y materiales. Nos
                consolidaremos como el principal referente en la industria,
                ofreciendo servicios integrales que superen las expectativas de
                nuestros clientes, mientras mantenemos un compromiso firme con
                la seguridad, la sostenibilidad y el cumplimiento de los más
                altos estándares de calidad.
            </p>

            <h2>¿DÓNDE ESTAMOS UBIADOS?</h2>
            <p class="parrafo">
                Nuestra sede principal se encuentra en el municipio de Tauramena
                – Casanare, permitiéndonos brindar un servicio a todo el
                departamento y también alrededor del país con los proyectos que
                así lo requiera el cliente. Esto nos ha permitido llegar a
                lugares como: Medellín, Santander, Norte de Santander, Huila,
                Villavicencio, Puerto Gaitán (Rubiales), Barrancabermeja,
                Arauca, Tumaco, Paz de Ariporo, Yopal, Monterrey, El Morro,
                Villanueva, entre otros.
            </p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7949.080573304671!2d-72.75101908879003!3d5.015722314268405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6ad84a26a50cf5%3A0x1b66f9a75ad7abb0!2sCra.%2012%20%232-80%2C%20Tauramena%2C%20Casanare!5e0!3m2!1ses!2sco!4v1753829442161!5m2!1ses!2sco" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

<style lang="scss">
    :root {
        --color-primary: #f3d421;
        --color-secundary: #e1251b;
        --color-success: #4bb347;
        --color-name-company: #0f73b9;
    }
    $padding-container: 20px 20px;
    .section {
        font-family: sans-serif;
        color: #ffffff;
        background-color: #000000;

        .container {
            padding: $padding-container;
            display: grid;
            gap: 2rem;
            // grid-auto-rows: 22rem;
            grid-template-columns: 1fr;

            h2 {
                color: var(--color-primary);
            }

            .parrafo {
                text-align: justify;
                line-height: 25px;
            }

            .lista {
                list-style: none;
                display: grid;
                gap: 1rem;
                // grid-auto-rows: 22rem;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                .item {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    line-height: 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span {
                        font-size: 20px;
                        text-align: center;
                        display: block;
                        font-weight: bold;
                    }
                    img {
                        border-radius: 50%;
                        height: 200px;
                        width: 200px;
                        margin-bottom: 10px;
                    }
                }
            }

            .btn-show {
                width: 100%;
                display: flex;
                justify-content: center;
                .show-info {
                    padding: 10px 10px;
                    font-size: 14px;
                }
            }
        }
    }

    @media (min-width: 700px) {
        .section {
            .container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
</style>
